* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* font-size: 100%; */
  vertical-align: baseline;
  background: transparent;
}

header {
  height: 10%;
  background-color: black;
}

header img {
  margin: 1rem;
}

.container {
  margin-top: 1rem;
  box-shadow: 5px 10px 8px 10px #888888;
}

#paytable-heading {
  padding: 1rem;
}

#uxxx {
  vertical-align: middle;
}

th {
  background-color: blue;
  color: white;
}

#modalButton {
  background-color: #3d829e;
  border: none;
}

hr {
  height: 0.1rem;
  background-color: #3d829e;
  border: none;
}

.nav-tabs .nav-link,
.nav-link {
  color: #3d829e;
}

.nav-link:hover {
  color: #6b2a1b;
}

.nav-pills .nav-link.active {
  background-color: #3d829e;
}
