<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pay Tables App</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/jquery-3.6.4.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/script.js" defer></script>
  </head>
  <body>
    <header class="d-print-none">
      <img src="img/color_stripe.svg" class="w-100" />
    </header>
    <hr />
    <div class="container page-header">
      <div class="row">
        <div class="col d-flex justify-content-start">
          <h3 class="align-self-center">DoDEA Pay Tables</h3>
        </div>
        <div class="col d-flex justify-content-end">
          <img
            src="img/dodea.png"
            class="align-self-end"
            style="height: 50px"
          />
        </div>
      </div>
      <hr />
    </div>

    <div class="container" ng-controller="myController">
      <div class="row">
        <div class="col">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            id="modalButton"
          >
            Enter New Pay Rates
          </button>

          <!-- Modal -->
          <form class="form">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Submit New Rates</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                                <div class="d-flex align-items-start">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-rates-tab" data-bs-toggle="pill" href="#v-pills-rates" role="tab" aria-controls="v-pills-user" aria-selected="true">Rates</a>
                                <a class="nav-link" id="v-pills-pooblastila-tab" data-bs-toggle="pill" href="#v-pills-pooblastila" role="tab" aria-controls="v-pills-pooblastila" aria-selected="false">Exclude Tables</a>
                                <a class="nav-link" id="v-pills-prijave-tab" data-bs-toggle="pill" href="#v-pills-prijave" role="tab" aria-controls="v-pills-prijave" aria-selected="false">Options</a>
                            </div>
                            <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                                <div class="tab-pane fade show active " id="v-pills-rates" role="tabpanel" aria-labelledby="v-pills-user-tab">
                                  <label for="rus_rate">RUS (RUS LOCALITY)</label>
                                  <input type="text" id="rus_rate"><br>
                                  <label for="guam_rate">GUAM (RUS LOCALITY)</label>
                                  <input type="text" id="guam_rate">
                                </div>
                                <div class="tab-pane fade" id="v-pills-pooblastila" role="tabpanel" aria-labelledby="v-pills-pooblastila-tab">
                                  <div class="row">
                                    <div class="col-3">
                                      <input type="checkbox" name="favorite_pet" value="Cats">U100<br>
                                        <input type="checkbox" name="favorite_pet" value="Cats">U110<br>
                                        <input type="checkbox" name="favorite_pet" value="Dogs">U130<br>
                                        <input type="checkbox" name="favorite_pet" value="Birds">U150<br>
                                    </div>
                                    <div class="col-3">
                                      <input type="checkbox" name="favorite_pet" value="Cats">U200<br>
                                        <input type="checkbox" name="favorite_pet" value="Cats">U210<br>
                                        <input type="checkbox" name="favorite_pet" value="Dogs">U230<br>
                                        <input type="checkbox" name="favorite_pet" value="Birds">U250<br>
                                    </div>
                                    <div class="col-3">
                                      <input type="checkbox" name="favorite_pet" value="Cats">U300<br>
                                        <input type="checkbox" name="favorite_pet" value="Cats">U310<br>
                                        <input type="checkbox" name="favorite_pet" value="Dogs">U330<br>
                                        <input type="checkbox" name="favorite_pet" value="Birds">U350<br>
                                    </div>
                                    <div class="col-3">
                                      <input type="checkbox" name="favorite_pet" value="Cats">U500<br>
                                        <input type="checkbox" name="favorite_pet" value="Cats">U510<br>
                                        <input type="checkbox" name="favorite_pet" value="Dogs">U530<br>
                                        <input type="checkbox" name="favorite_pet" value="Birds">U550<br>
                                    </div>
                                  </div>

                              </div>
                                <div class="tab-pane fade" id="v-pills-prijave" role="tabpanel" aria-labelledby="v-pills-prijave-tab">Some other options</div>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
              </form>
          <!-- <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    New Pay Rates
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">
                    Submit changes
                  </button>
                </div>
              </div>
            </div>
          </div> -->
          <hr />
        </div>
      </div>
      <!-- ////////////// TABS BEGIN ///////////////////////// -->
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="u1xx-tab"
                data-bs-toggle="tab"
                href="#u1xx"
                role="tab"
                aria-controls="u1xx"
                aria-selected="true"
                >U1XX</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="u2xx-tab"
                data-bs-toggle="tab"
                href="#u2xx"
                role="tab"
                aria-controls="u2xx"
                aria-selected="false"
                >U2XX</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="u3xx-tab"
                data-bs-toggle="tab"
                href="#u3xx"
                role="tab"
                aria-controls="u3xx"
                aria-selected="false"
                >U3XX</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="u5xx-tab"
                data-bs-toggle="tab"
                href="#u5xx"
                role="tab"
                aria-controls="u5xx"
                aria-selected="false"
                >U5XX</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="u1xx"
              role="tabpanel"
              aria-labelledby="u1xx-tab"
            >
              <!-- U1XX INNER PILL BEGIN -->
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-u100-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u100"
                    type="button"
                    role="tab"
                    aria-controls="pills-u100"
                    aria-selected="true"
                  >
                    U100
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u110-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u110"
                    type="button"
                    role="tab"
                    aria-controls="pills-u110"
                    aria-selected="false"
                  >
                    U110
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u130-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u130"
                    type="button"
                    role="tab"
                    aria-controls="pills-u130"
                    aria-selected="false"
                  >
                    U130
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u150-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u150"
                    type="button"
                    role="tab"
                    aria-controls="pills-u150"
                    aria-selected="false"
                  >
                    U150
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-u100"
                  role="tabpanel"
                  aria-labelledby="pills-u100-tab"
                  tabindex="0"
                >
                  <div class="row">
                    <div class="col d-flex justify-content-between">
                      <h5>U100</h5><i class="bi bi-file-earmark-pdf-fill text-danger"></i>
                    </div>
                    <table class="table table-striped">
                    <tr>
                      <th style="background-color: #3d829e; color: white">
                        Step
                      </th>
                      <th style="background-color: #3d829e; color: white">
                        Annual
                      </th>
                      <th style="background-color: #3d829e; color: white">
                        Per Hour
                      </th>
                      <th style="background-color: #3d829e; color: white">
                        Earned
                      </th>
                    </tr>
                    <tr
                      ng-repeat="row in u100"
                      class="clickable_row btnRow"
                      data-toggle="modal"
                      data-target="#rowModal"
                      ng-click="openRowModal()"
                    >
                      <td style="background-color: #3d829e; color: white">
                        {{row.Step}}
                      </td>
                      <td>${{row.Annual}}</td>
                      <td>{{row.PerHour}}</td>
                      <td>{{row.Earned}}</td>
                    </tr>
                  </table>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u110"
                  role="tabpanel"
                  aria-labelledby="pills-u110-tab"
                  tabindex="0"
                >
                  U110
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u130"
                  role="tabpanel"
                  aria-labelledby="pills-u130-tab"
                  tabindex="0"
                >
                  U130
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u150"
                  role="tabpanel"
                  aria-labelledby="pills-u150-tab"
                  tabindex="0"
                >
                  U150
                </div>
              </div>
              <!-- U1XX INNER PILLS END -->
            </div>
            <div
              class="tab-pane fade"
              id="u2xx"
              role="tabpanel"
              aria-labelledby="u2xx-tab"
            >
              <!-- U1XX INNER PILLS BEGIN -->

              <!-- U1XX INNER PILLS END -->
            </div>
            <div
              class="tab-pane fade"
              id="u3xx"
              role="tabpanel"
              aria-labelledby="u3xx-tab"
            >
              <!-- U1XX INNER PILLS BEGIN -->

              <!-- U1XX INNER PILLS END -->
            </div>
            <div
              class="tab-pane fade"
              id="u5xx"
              role="tabpanel"
              aria-labelledby="u5xx-tab"
            >
              <!-- U1XX INNER PILLS BEGIN -->

              <!-- U1XX INNER PILLS END -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
