<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pay Tables App</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/jquery-3.6.4.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <!-- <script src="js/d3.js"></script> -->
    <script src="js/script.js" defer></script>
    <!-- <script src="js/parseCsvWithD3.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>
  </head>
  <script>
    window.jsPDF = window.jspdf.jsPDF;
    function generateTable() {
      //
      var doc = new jsPDF();
      doc.setFontSize(12);
      var y = 10;
      // set midPage
      var midPage = doc.internal.pageSize.getWidth() / 2;
      doc.setLineWidth(2);
      //doc.text(200, (y = y + 30), "U100");
      var txt =
        "2022/2023" +
        "\n" +
        "WEST POINT U100" +
        "\n" +
        "Licensed Practitioner Nurse (LPN)";
      doc.text(txt, midPage - 4, y, "center");
      doc.autoTable({
        html: "#u100-table",
        startY: 30,
        theme: "grid",
        columnStyles: {
          0: {
            halign: "right",
            tableWidth: "10",
            cellWidth: "10",
          },
          1: {
            tableWidth: "auto",
            cellWidth: "10",
          },
          2: {
            halign: "right",
            tableWidth: "auto",
            cellWidth: "10",
          },
          3: {
            halign: "right",
            tableWidth: "auto",
            cellWidth: "10",
          },
        },
      });
      var footer =
        "Increase of 4.95% in accordance with MLA" +
        "\n" +
        "Paid hourly rate based on 2096 hours (262 days) from7/25/23 to 7/24/2024" +
        "\n" +
        "Effective 7/25/2023";
      doc.text(
        footer,
        midPage - 5,
        doc.internal.pageSize.height - 20,
        "center"
      );
      doc.save("auto_table_pdf");
    }
  </script>
  <body>
    <!-- <div id="color_stripe"><img src="img/color_stripe.svg"></div> -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand" href="#"
          ><img src="img/CHRA_Seal.png" height="80"
        /></a>
        <ul class="navbar-nav">
          <!-- <li class="nav-item"><a class="nav-link" href="https://disa.deps.mil/org/eu/EU3/EU34/Pages/Home.aspx">EU34</a></li>
                <li class="nav-item current-page"><a class="nav-link" href="#">Support Tracker</a></li>
                <li class="nav-item"><a class="nav-link" href="https://disa.deps.mil/org/eu/EU3/EU34/Rolling%20Log/library.html">Governance Library</a></li>
                <li class="nav-item"><a class="nav-link" href="https://disa.deps.mil/org/eu/EU3/EU34/Rolling%20Log/project-tracker.html">Projects Tracker</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Maps/Diagrams</a></li>               -->
        </ul>
      </nav>
    </header>

    <div class="container" ng-controller="myController">
      <div class="row" id="paytable-heading">
        <div class="col-6 d-flex align-items-center">
          <h4>DoDEA Pay Tables</h4>
        </div>
        <div class="col-6 justify-content-end">
          <!-- ///////// Button trigger modal ////////// -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#formModal"
            id="modalButton"
          >
            Enter New Pay Rates
          </button>
          <button type="button" class="btn btn-secondary" id="dcpas">
            DCPAS Export
          </button>
        </div>
      </div>

      <hr style="margin-top: 1.5rem" />

      <!-- ///////// Modal Form ////////// -->
      <form class="form">
        <!-- Modal -->
        <div
          class="modal fade"
          id="formModal"
          tabindex="-1"
          aria-labelledby="formModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Submit New Rates
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="d-flex align-items-start">
                  <div
                    class="nav flex-column nav-pills me-3"
                    id="v-pills-tab"
                    role="tablist"
                    aria-orientation="vertical"
                  >
                    <a
                      class="nav-link active"
                      id="v-pills-rates-tab"
                      data-bs-toggle="pill"
                      href="#v-pills-rates"
                      role="tab"
                      aria-controls="v-pills-user"
                      aria-selected="true"
                      >Rates</a
                    >
                    <a
                      class="nav-link"
                      id="v-pills-cal_yr_hrs-tab"
                      data-bs-toggle="pill"
                      href="#v-pills-cal_yr_hrs"
                      role="tab"
                      aria-controls="v-pills-cal_yr_hrs"
                      aria-selected="false"
                      >Calendary Year Hours</a
                    >
                    <a
                      class="nav-link"
                      id="v-pills-exclude-tab"
                      data-bs-toggle="pill"
                      href="#v-pills-exclude"
                      role="tab"
                      aria-controls="v-pills-exclude"
                      aria-selected="false"
                      >Exclude Tables</a
                    >
                  </div>
                  <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="v-pills-rates"
                      role="tabpanel"
                      aria-labelledby="v-pills-user-tab"
                    >
                      <label for="rus_rate">RUS (RUS LOCALITY)</label>
                      <input type="text" id="rus_rate" /><br />
                      <label for="guam_rate">GUAM (RUS LOCALITY)</label>
                      <input type="text" id="guam_rate" />
                    </div>
                    <div
                      class="tab-pane fade"
                      id="v-pills-cal_yr_hrs"
                      role="tabpanel"
                      aria-labelledby="v-pills-cal_yr_hrs-tab"
                    >
                      <div class="row">
                        <div class="col">
                          <input
                            type="radio"
                            name="cal_yr_hrs"
                            value="260"
                          />260 days - 2080 hours<br />
                          <input
                            type="radio"
                            name="cal_yr_hrs"
                            value="261"
                          />261 days - 2088 hours<br />
                          <input
                            type="radio"
                            name="cal_yr_hrs"
                            value="262"
                          />262 days - 2096 hours<br />
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="v-pills-exclude"
                      role="tabpanel"
                      aria-labelledby="v-pills-exclude-tab"
                    >
                      <div class="row">
                        <div class="col-3">
                          <input
                            type="checkbox"
                            name="U100"
                            value="U100"
                          />U100<br />
                          <input
                            type="checkbox"
                            name="U100"
                            value="U110"
                          />U100<br />
                          <input
                            type="checkbox"
                            name="U130"
                            value="U130"
                          />U130<br />
                          <input
                            type="checkbox"
                            name="U150"
                            value="U150"
                          />U150<br />
                        </div>
                        <div class="col-3">
                          <input
                            type="checkbox"
                            name="U200"
                            value="U200"
                          />U200<br />
                          <input
                            type="checkbox"
                            name="U210"
                            value="U210"
                          />U210<br />
                          <input
                            type="checkbox"
                            name="U230"
                            value="U230"
                          />U230<br />
                          <input
                            type="checkbox"
                            name="U250"
                            value="U250"
                          />U250<br />
                        </div>
                        <div class="col-3">
                          <input
                            type="checkbox"
                            name="U300"
                            value="U300"
                          />U300<br />
                          <input
                            type="checkbox"
                            name="U310"
                            value="U310"
                          />U310<br />
                          <input
                            type="checkbox"
                            name="U330"
                            value="U330"
                          />U330<br />
                          <input
                            type="checkbox"
                            name="U350"
                            value="U350"
                          />U350<br />
                        </div>
                        <div class="col-3">
                          <input
                            type="checkbox"
                            name="U500"
                            value="U500"
                          />U500<br />
                          <input
                            type="checkbox"
                            name="U510"
                            value="U510"
                          />U510<br />
                          <input
                            type="checkbox"
                            name="U530"
                            value="U530"
                          />U530<br />
                          <input
                            type="checkbox"
                            name="U550"
                            value="U550"
                          />U550<br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- ///////// Modal Form END ////////// -->

      <div class="row">
        <div class="col">
          <!-- ////////////////// NAV LINK TABS BEGIN //////////////////// -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#u1xx-tab-pane"
                type="button"
                role="tab"
              >
                U1XX
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#u2xx-tab-pane"
                type="button"
                role="tab"
              >
                U2XX
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#u3xx-tab-pane"
                type="button"
                role="tab"
              >
                U3XX
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="disabled-tab"
                data-bs-toggle="tab"
                data-bs-target="#u5xx-tab-pane"
                type="button"
                role="tab"
              >
                U5XX
              </button>
            </li>
          </ul>
          <!-- ////////////////// NAV LINK TABS END //////////////////// -->
          <!-- ////////////////// TABS CONTENT BEGIN //////////////////// -->
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="u1xx-tab-pane"
              role="tabpanel"
              tabindex="0"
            >
              <!-- ////////////////// U1XX INNER PILLS BEGIN //////////////////// -->
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-u100-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u100"
                    type="button"
                    role="tab"
                  >
                    U100
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u110-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u110"
                    type="button"
                    role="tab"
                  >
                    U110
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u130-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u130"
                    type="button"
                    role="tab"
                  >
                    U130
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u150-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u150"
                    type="button"
                    role="tab"
                  >
                    U150
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-u100"
                  role="tabpanel"
                  tabindex="0"
                >
                  <div class="row">
                    <div class="col d-flex justify-content-between">
                      <h5>U100</h5>
                      <button onclick="generateTable()">
                        Download PDF<i
                          class="bi bi-file-earmark-pdf-fill text-danger"
                        ></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col table-responsive">
                      <table class="table table-striped" id="u100-table">
                        <tr>
                          <th style="background-color: #3d829e; color: white">
                            Step
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Annual
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Per Hour
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Earned
                          </th>
                        </tr>
                        <tr
                          ng-repeat="row in u100"
                          class="clickable_row btnRow"
                          data-toggle="modal"
                          data-target="#rowModal"
                          ng-click="openRowModal()"
                        >
                          <td style="background-color: #3d829e; color: white">
                            {{row.Step}}
                          </td>
                          <td>${{row.Annual}}</td>
                          <td>{{row.PerHour}}</td>
                          <td>{{row.Earned}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u110"
                  role="tabpanel"
                  tabindex="0"
                >
                  110
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u130"
                  role="tabpanel"
                  tabindex="0"
                >
                  130
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u150"
                  role="tabpanel"
                  tabindex="0"
                >
                  150
                </div>
              </div>
              <!-- ////////////////// U1XX INNER PILLS END //////////////////// -->
            </div>
            <div
              class="tab-pane fade"
              id="u2xx-tab-pane"
              role="tabpanel"
              tabindex="0"
            >
              <!-- ////////////////// U2XX INNER PILLS BEGIN //////////////////// -->
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-u200-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u200"
                    type="button"
                    role="tab"
                  >
                    U200
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u210-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u210"
                    type="button"
                    role="tab"
                  >
                    U210
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u230-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u230"
                    type="button"
                    role="tab"
                  >
                    U230
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u250-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u250"
                    type="button"
                    role="tab"
                  >
                    U250
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-u200"
                  role="tabpanel"
                  tabindex="0"
                >
                  <div class="row">
                    <div class="col table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th style="background-color: #3d829e; color: white">
                            Step
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Annual
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Per Hour
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Earned
                          </th>
                        </tr>
                        <tr
                          ng-repeat="row in u200"
                          class="clickable_row btnRow"
                          data-toggle="modal"
                          data-target="#rowModal"
                          ng-click="openRowModal()"
                        >
                          <td style="background-color: #3d829e; color: white">
                            {{row.Step}}
                          </td>
                          <td>${{row.Annual}}</td>
                          <td>{{row.PerHour}}</td>
                          <td>{{row.Earned}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u210"
                  role="tabpanel"
                  tabindex="0"
                >
                  210
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u230"
                  role="tabpanel"
                  tabindex="0"
                >
                  230
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u250"
                  role="tabpanel"
                  tabindex="0"
                >
                  250
                </div>
              </div>
              <!-- ////////////////// U2XX INNER PILLS END //////////////////// -->
            </div>
            <div
              class="tab-pane fade"
              id="u3xx-tab-pane"
              role="tabpanel"
              tabindex="0"
            >
              <!-- ////////////////// U3XX INNER PILLS BEGIN //////////////////// -->
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-u300-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u300"
                    type="button"
                    role="tab"
                  >
                    U300
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u310-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u310"
                    type="button"
                    role="tab"
                  >
                    U310
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u330-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u330"
                    type="button"
                    role="tab"
                  >
                    U330
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u350-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u350"
                    type="button"
                    role="tab"
                  >
                    U350
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-u300"
                  role="tabpanel"
                  tabindex="0"
                >
                  <div class="row">
                    <div class="col table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th style="background-color: #3d829e; color: white">
                            Step
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Annual
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Per Hour
                          </th>
                          <th style="background-color: #3d829e; color: white">
                            Earned
                          </th>
                        </tr>
                        <tr
                          ng-repeat="row in u300"
                          class="clickable_row btnRow"
                          data-toggle="modal"
                          data-target="#rowModal"
                          ng-click="openRowModal()"
                        >
                          <td style="background-color: #3d829e; color: white">
                            {{row.Step}}
                          </td>
                          <td>${{row.Annual}}</td>
                          <td>{{row.PerHour}}</td>
                          <td>{{row.Earned}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u310"
                  role="tabpanel"
                  tabindex="0"
                >
                  310
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u330"
                  role="tabpanel"
                  tabindex="0"
                >
                  330
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u350"
                  role="tabpanel"
                  tabindex="0"
                >
                  350
                </div>
              </div>
              <!-- ////////////////// U3XX INNER PILLS END //////////////////// -->
            </div>
            <div
              class="tab-pane fade"
              id="u5xx-tab-pane"
              role="tabpanel"
              tabindex="0"
            >
              <!-- ////////////////// U3XX INNER PILLS BEGIN //////////////////// -->
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-u500-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u500"
                    type="button"
                    role="tab"
                  >
                    U500
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u510-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u510"
                    type="button"
                    role="tab"
                  >
                    U510
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u530-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u530"
                    type="button"
                    role="tab"
                  >
                    U530
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-u550-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-u550"
                    type="button"
                    role="tab"
                  >
                    U550
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-u500"
                  role="tabpanel"
                  tabindex="0"
                >
                  500
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u510"
                  role="tabpanel"
                  tabindex="0"
                >
                  510
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u530"
                  role="tabpanel"
                  tabindex="0"
                >
                  530
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-u550"
                  role="tabpanel"
                  tabindex="0"
                >
                  550
                </div>
              </div>
              <!-- ////////////////// U3XX INNER PILLS END //////////////////// -->
            </div>
          </div>
          <!-- ////////////////// TABS CONTENT END //////////////////// -->
        </div>
      </div>
    </div>
  </body>
</html>
